page-login {
    .custom-left{
        float: left;
    };
    .custom-right{
        float: right;
    };
    .custom-login-button{
        padding-top: 50px;
        text-align: center;
    };
    .custom-newuser{
        padding-top: 50px;
        text-align: center;
    };
}
