page-home {
    // .welcome{
    //     text-align: center;
    //     padding-top: 140px;
    //     font-family: Verdana;
    //     font-weight: bold;
    //     font-size: 40px;
    // }
    .custom-start-button{
        align-content: center;
        padding-left: 110px;
    }
    .welcome-image{
        padding-top: 110px;
    }
    .welcome-page{
        // background-image: "../../assets/imgs/bg.jpg";
        background-color: lightblue;
    }
}
