page-home {
    // .welcome{
    //     text-align: center;
    //     padding-top: 140px;
    //     font-family: Verdana;
    //     font-weight: bold;
    //     font-size: 40px;
    // }
    .custom-start-button{
        align-content: center;
        padding-left: 70px;
    }
    .welcome-image{
        padding-top: 50px;
    }
}
