page-signup {
    .custom-heading3{
        text-align: center;
    };
    .custom-label{
        padding-top: 20px;
    };
    .custom-login-button{
        padding-top: 50px;
        text-align: center;
    };
}
